{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Jonathan Kalala{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'app/images/ico.ico' %}">
    <link rel="stylesheet" href="{% static 'app/style.css' %}">


    {% block extra_head %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}

<footer class="footer">
    <div class="footer-content">
        <div class="footer-title">contact://network</div>
        <div class="footer-links">
            <a class="footer-link" href="https://wa.me/243823874247" target="_blank" rel="noreferrer">whatsapp</a>
            <a class="footer-link" href="https://www.linkedin.com/in/jonathan-kalala-ciala/" target="_blank" rel="noreferrer">linkedin</a>
            <a class="footer-link" href="https://github.com/joekal" target="_blank" rel="noreferrer">github</a>
            <a class="footer-link" href="https://medium.com/@kalalajonathan297" target="_blank" rel="noreferrer">medium</a>
        </div>
    </div>
</footer>

</body>
</html>
